<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easystar.dao.ImageDao">
    <!-- 这里namespace必须是UserMapper接口的路径” -->
    <insert id="insertImage" useGeneratedKeys="true" parameterType="Image">
        insert into tb_Image(config_id,  path,create_date,src_path,key) values(#{configId},#{path},#{createDate},#{srcPath},#{key})
        <!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
    </insert>

    <!-- 这里的id必须和UserMapper接口中的接口方法名相同 -->
    <select id="getImage" resultType="Image" parameterType="java.lang.Long">
        select * from tb_Image where id=#{id}
    </select>

    <select id="getImageByName" resultType="Image" parameterType="java.lang.String">
        select * from tb_Image where name = #{name}
    </select>

</mapper>