<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="referrer" content="never">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1,viewport-fit=cover">
  <meta itemprop="dateUpdate" content="2021-05-18 17:33:31">
  <meta name="title" content="首页">
  <meta name="keywords" content="金马学习">
  <meta name="description" content="金马学习">
  <title>首页</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="common.css" />
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<script>
  $(document).ready(function () {
    $('ul.nav > li > a').click(function (e) {
      debugger;
      e.preventDefault();
      $(this).tab('show')
      // $('ul.nav > li').removeClass('active');
      // $(this).addClass('active');
    });
  });
</script>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top" id="menu-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!-- sr-only仅阅读器能见实际不会呈现在页面上 -->
          <span class="sr-only">切换导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">今马学习</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a >新闻</a></li>
          <li><a >图片</a></li>
          <li><a>小说</a></li>
          <li><a>关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container content">
    <div id="article" class="panel panel-primary">
      <div class="panel-heading">新闻</div>
      <div class="panel-body">
        Panel content
        afda
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>
    <div id="image" class="panel panel-success">
      <div class="panel-heading">图片</div>
      <div class="panel-body">
        Panel content<br /><br /><br /><br /><br /><br />
      </div>
    </div>

    <div id="story" class="panel panel-info">
      <div class="panel-heading">小说</div>
      <div class="panel-body">
        Panel content<br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>

  </div>
  <footer id="about" class="footer">
    <div class="container">
      <a href="https://beian.miit.gov.cn" target="_blank">湘ICP备2021008098号-1</a>
    </div>
  </footer>

</body>


</html>